body{
    background: #f1f1f196;
    font-size: 18px;
}

h1{

    font-size:80 px;
    color: rgb(48, 88, 150);
}

h2{
    font-size: 35px;
    color: rgb(48, 88, 150);
}

h3{

    font-size: 50 px;
    color: rgb(48, 88, 150);

}

.navbar {
    padding: 10px;
    
  }
  
  
.navbar-brand {
    background-color: rgb(95, 64, 131);
    font-weight: bold;
    
}

#NavbarTitle {
    color: black;
}

.navbar-default .navbar-fnt {
    color: #0000b3;
}

.nav li{
    
    margin-right:30px;
    margin-left: 30px;
    float: right;
}

.nav li dropdown{
    margin-left:30px;
    margin-right:30px;
    padding-left:30px;
    padding-right:30px;
    float:right;
}

.table{
    font-size:30 px;
}